body{
    background-color: #dcf1d9;
    font-size: 1rem;
}

#calculadora {
    height: 200px;
    width: 250px;
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
    gap: 2px;
    border-radius: 5px;
}

.pantalla {
    height: 90%;
    grid-column: 1 / 5;
    background-color: white;
    text-align: end;
}

.btns-calc{
    font-size: 15px;
    background-color: brown ;
    border-radius: 10px;
    color: white;
}

#cero {
    grid-column: span 2;
    background-color: aquamarine;
    color: black;
}

#igual {
    grid-row: span 2;
    background-color: aquamarine;
    color: black;
}


.jumbotron {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.jumbotron h1 {
    text-align: center;
}

.jumbotron p {
    font-size: 20px;
}

.title {
    display: flex;
    min-height: 10%;
}

.title p {
    height: 100%;
    font-size: 1.2rem;
    margin: 0
}

.btn {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

.col-md-6{
    display: flex;
    flex-direction: column;
    gap: 1px;
    min-height: 300px;
}

.hoursValue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    min-height: 30%;
}

.resultados {
    display: flex;
    height: 30%;
    min-height: 30%;
    width: 100%;
}

.valorHora {
    display: flex;
    width: 25%;
    border-radius: 10px;

}

.valorPesoAhorro {
    display: flex;
    width: 25%;
    border-radius: 10px;

}

.horaNormalLaV{
    display: flex;
    width: 25%;
    border-radius: 10px;

}

.horaSabadoAl50{
    display: flex;
    width: 25%;
    border-radius: 10px;

}

.horaSabadoAl100{
    display: flex;
    width: 25%;
    border-radius: 10px;
}

.horaDomingoFeriadoAl100{
    display: flex;
    width: 25%;
    border-radius: 10px;

}

.horaAl50LaV{
    display: flex;
    width: 25%;
    border-radius: 10px;

}

.btn-calcular {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcular1{
    width: 100%;
}

.result{
    display: flex;
    gap: 5px;
}

.resultados{
    display: flex;
}

.title-result {
    height: 100%;
    width: 100%;
}

.totales{
    display: flex;
}

.totales h4{
    width: 50%;
}

.totales span{
    width: 50%;
}